<%- include('../partials/navbar') %>

<div class="container">
    <div class="form-wrapper">
        <h1>Login</h1>
        <form action="/auth/login" method="POST">
            <input type="email" name="email" placeholder="Enter email" required />
            <input type="password" name="password" placeholder="Enter password" required />
            <button type="submit">Login</button>
        </form>
    </div>
</div>

<%- include('../partials/footer') %>